@import '/node_modules/bootstrap/scss/mixins';
@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';

.default-layout {
  background: linear-gradient(to left top, #191e2a, #0d121f, #0d121f, #191e2a);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
}

.main {
  padding: 11.5vh 3vw;
  position: relative;
  z-index: 2;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.ring {
  position: absolute;
  border: 75px solid;
  border-color: rgba(25, 30, 42, 1);
  border-bottom-left-radius: 100%;
  border-right: none;
  border-top: none;
  z-index: 1;
}

.top-right {
  top: 0px;
  right: 0px;
  width: 350px;
  height: 350px;
}

.bottom-left {
  bottom: 0px;
  left: 0px;
  width: 350px;
  height: 350px;
}

.ring-1 {
  position: absolute;
  border: 75px solid;
  border-color: rgba(25, 30, 42, 1);
  border-top-right-radius: 100%;
  border-left: none;
  border-bottom: none;
  z-index: 0;
}

.ring-center {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%);
  background: radial-gradient(#252324, #252324);
  box-shadow:
    0 0 60px 30px #252324,
    0 0 100px 60px #252324,
    0 0 140px 90px #191e2a;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  z-index: 0;
}
