@import './node_modules/bootstrap/scss/mixins';
@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';

.auth-container {
  background-image: url('/assets/images/forgot-bg.png');
}

.box {
  h1 {
    white-space: normal;
  }
}

.success-card {
  width: 100%;
  border-radius: 8px;
  background-color: #404040;
  p {
    font-size: 20px;
  }
  button {
    background-color: goldenrod;
    width: 100%;
  }
}

@include media-breakpoint-down(lg) {
  .success-card {
    button {
      width: 50%;
    }
  }
}
