<div class="auth-container">
  <div class="box d-flex flex-column flex-lg-row justify-content-center align-items-center">
    <div class="billease-text text-white">
      <img src="/assets/icons/billease-logo.svg" alt="logo" />
      <h1 class="mt-4 mb-0">Forgot Your Password?</h1>
      <p class="mt-4">
        To reset your password, please provide the email address associated with your account. We'll
        send you instructions on how to create a new password.
      </p>
    </div>
    <div class="card align-self-lg-end">
      <div class="d-flex">
        <div>
          <h6 class="fw-medium">No worries! We've got you covered.</h6>
          <h4>Forgot Password</h4>
          <p>Enter your email address to receive password reset instructions.</p>
        </div>
        <div>
          <img src="/assets/icons/forgot-pwd.svg" alt="arrow" />
        </div>
      </div>
      <form>
        <div class="form-group mt-3">
          <label for="email">Email Address</label>
          <input
            type="email"
            class="form-control mt-1"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Enter your email address"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <button type="submit" class="btn mt-4 d-block w-100">CONTINUE</button>
        <hr data-content="or" />
        <div class="new-user text-center mt-3">
          <span class="pe-1">New User?</span><a>Contact Admin</a>
        </div>
      </form>
    </div>
  </div>
</div>
