<div class="login-container">
  <div
    class="login-box d-flex flex-column flex-lg-row justify-content-center align-items-center gap-"
  >
    <div class="billease-text text-white">
      <img src="/assets/icons/billease-logo.svg" alt="logo" />
      <h1 class="mt-4 mb-0">Forgot Your Password?</h1>
      <p class="mt-4">
        To reset your password, please provide the email address associated with your account. We'll
        send you instructions on how to create a new password.
      </p>
    </div>
    <div class="login-card align-self-lg-end">
      <div class="d-flex">
        <div>
          <h6 class="fw-medium">No worries! We've got you covered.</h6>
          <h4>Forgot Password</h4>
          <p>Enter your email address to receive password reset instructions.</p>
        </div>
        <div>
          <img src="/assets/icons/forgot-pwd.svg" alt="arrow" />
        </div>
      </div>
      <form [formGroup]="forgotPasswordForm">
        <div class="form-group mt-3">
          <label for="email">Email Address</label>
          <input
            type="email"
            class="form-control mt-1"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Enter your email address"
            formControlName="email"
          />
          <div *ngIf="formControls['email'].touched && formControls['email'].invalid">
            <small *ngIf="formControls['email'].errors?.['required']" class="text-danger"
              >Email is required</small
            >
            <small *ngIf="formControls['email'].errors?.['pattern']" class="text-danger"
              >Enter a valid email</small
            >
          </div>
        </div>
        <button
          type="submit"
          class="btn mt-4 d-block w-100"
          [disabled]="forgotPasswordForm.invalid"
        >
          CONTINUE
        </button>
        <hr data-content="or" />
        <div class="new-user text-center mt-3">
          <span class="pe-1">New User?</span><a>Contact Admin</a>
        </div>
      </form>
    </div>
  </div>
</div>
