@use 'colors';
@import '/node_modules/bootstrap/scss/mixins';
@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';

.footer {
  background: linear-gradient(to left top, #191e2a, #0d121f, #0d121f, #191e2a);
  font-size: 0.85rem;
}

.heart-symbol {
  color: red;
}

.brand {
  text-decoration: none;
  font-weight: 500;
  color: colors.$purple;
}

.links {
  a {
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
  }
}

@include media-breakpoint-down(md) {
  .footer {
    text-align: center;
  }
  .links {
    margin-top: 10px;
  }
}
