<div class="auth-container">
  <div class="box d-flex flex-column flex-lg-row justify-content-center align-items-center">
    <div class="billease-text text-white">
      <img src="/assets/icons/billease-logo.svg" alt="logo" />
      <h1 class="mt-4 mb-0">Reset Your</h1>
      <h1 class="m-0 p-0">Password Securely</h1>
      <p class="mt-4">
        Enhance your account security by changing your password. Choose a strong, unique combination
        to keep your information safe.
      </p>
    </div>
    <div class="card align-self-lg-end">
      <div class="d-flex">
        <div>
          <h6 class="fw-medium">Reset Your Password Securely!</h6>
          <h4>Password Reset</h4>
          <p>Remember to keep your new password safe and unique.</p>
        </div>
        <div>
          <img src="/assets/icons/unlock_logo.svg" alt="unlock_logo" />
        </div>
      </div>
      <form [formGroup]="resetForm">
        <div class="form-group mt-3">
          <label for="new_password">New Password</label>
          <div class="input-group flex-nowrap mt-1">
            <input
              formControlName="new_password"
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              placeholder="Enter your new password"
              id="new_password"
            />
            <span class="input-group-text" id="addon-wrapping" (click)="toggleShowPassword()"
              ><img src="/assets/icons/eye.svg" alt="eye"
            /></span>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="confirm_password">Confirm Password</label>
          <div class="input-group flex-nowrap mt-1">
            <input
              formControlName="confirm_password"
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              placeholder="Enter your password again"
              id="confirm_password"
            />
            <span class="input-group-text" id="addon-wrapping" (click)="toggleShowPassword()"
              ><img src="/assets/icons/eye.svg" alt="eye"
            /></span>
          </div>
        </div>
        <button type="submit" class="btn mt-3 d-block w-100">Reset Password</button>
      </form>
    </div>
  </div>
</div>
